@charset "utf-8";
/* CSS Document */

body {
	font: 65%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
}

ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
	display: inline;
}

ul.nav a, ul.nav a:visited {
	text-decoration: none;
	color: #036;
	padding-right:10px;
	font-weight: 800;
	font-size:9px;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	color: #999999;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}

h3{
	color:#234b7a;
	font-size:12px;
}

h4 {
	padding-left:25px;
	color:#4f81bc;
}
.large {
	font-size:120%;
}
p {
	padding-left:25px;
}

a img {
	border: none;
}

a:link {
	color:#234979;
	text-decoration: none;
}
a:visited {
	color: #4E5869;
}

.container {
	width: 1024px;
	margin: 0 auto;
	border: 1px solid #036;
	background-color:#ffffff;
}

.header {
	background: #24497a;
	background-image:url(../images/logo.jpg);
	background-repeat:no-repeat;
	height:100px;
	width:inherit;
}
.header img {
	border: none;
}
#login {
	background: #24497a;
	float: right;
	width:410px;
	height:15px;
	padding-top:20px;
	text-align:left;
}
#login_field {
	width:100px;
	height:11px;
	}
	
.nav {
	padding-left:10px;
	height:30px;
	background-image:url(../images/header_bg.png);
	border-bottom:1px solid #369;
	width: auto;
}

.sidebar1 {
	padding:10px 0;
	float: right;
	width: inherit;
	margin:5px;
	border: 1px solid #CCC;
	text-align:center;
	height:350px;
	background-color:#FFF;
}
.sidebar1 img {
	padding-top:25px;
}

.content {
	width: inherit;
	float: right;
	margin: 5px 0 5px 5px;
	border: 1px solid #CCC;
	background-color:#FFF;
	height:330px;
}

.sub-content {
	padding: 10px;
	width: inherit;
	float: left;
	margin: 0 5px 5px 5px;
	border: 1px solid #CCC;
	background-color:#FFF;
	height:200px;
	overflow:hidden;
}

#release_notes {
	padding-top:15px;
	float: left;
}

#release_notes .rss-items li {
	display:block;
	padding:0 60px 10px 30px;
}	

#submit {
	font-size:10px;
	width: 52px;
	text-align:center;
}
#button {
	font-size:10px;
	text-align:center;
}
.margin {
	margin-right:20px;
}
.push {
	margin-bottom:58px;
}
table {
	min-width:680px;
	align:center;
	margin: 10px;
    border-spacing: 0;
    border-collapse: collapse;
	font-size:10px;
}
table, td
{
	border-width: 1px;
	border-style: solid;
	border-color:#eff0f3;
}
table, .white
{
	border-width: 1px;
	border-style: solid;
	border-color:#fff;
}
td
{
    margin: 0;
    padding: 4px;
    border-width: 1px 0 0 0;
    background-color: #fff;
}
.bold {
	font-weight:bold;
	color:#4f81bc;
}

#form {
	float:left;
	text-align:left;
	margin:0 5px;
}
#signupForm {
	text-align:right;
	padding-right:250px;
}
.status {
	margin:0;
	width:200px;
}

.register_field {
	width:365px;
}
.footer {
	padding: 10px 0;
	background: #24497a;
	position: relative;
	clear: both;
	text-align:center;
	font-size:9px;
	border-top:1px solid #369;
	width:100%;
	float:left;
}

.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.Research {
	text-align:right;
	padding-right:0 35px 0 10px;
}

.sub_text a {
	color:#5c85bb;
	font-size:9px;
	padding-left:295px;
	text-decoration:none;
}
.pad {
	padding-left:50px;
}
.pad_btm {
	padding-bottom:100px;
}
.pad_top {
	padding-top:26px;
}
.sub_width {
	width:375px;
	float:left;
}
.small_text {
	font-size:9px;
}