body {
	font-family: "Source Sans Pro", sans-serif;
}

a {
	color: #24497a;
}

.text-primary {
	color: #24497a;
}

.bg-primary {
	background-color: #24497a;
}

.btn-primary {
	background-color: #24497a;
	border-color: #1e3d66;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-color: #1b365a;
	border-color: #102137;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #24497a;
	border-color: #1e3d66;
}
.btn-primary .badge {
	color: #24497a;
}

.btn-link {
	color: #24497a;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	background-color: #24497a;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	border-color: #1e3d66;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	background-color: #24497a;
}

.navbar-inverse {
	background-color: #24497a;
}

.navbar-inverse .navbar-brand {
	color: #ddd;
}

.navbar-inverse .navbar-text {
	color: #ddd;
}
.navbar-inverse .navbar-nav > li > a {
	color: #ddd;
}

.navbar-inverse .navbar-link {
	color: #ddd;
}

.navbar-inverse .btn-link {
	color: #ddd;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #1b365a;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #ddd;
	}
}

.navbar-inverse .navbar-link {
	color: #ddd;
}

.navbar-inverse .btn-link {
	color: #ddd;
}

.pagination > li > a,
.pagination > li > span {
	color: #24497a;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #24497a;
	border-color: #1e3d66;
}

.label-primary {
	background-color: #24497a;
}

a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
	color: #24497a;
}

.jumbotron {
	color: #fff;
	background-color: #24497a;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
	border-color: #24497a;
}

.progress-bar {
	background-color: #24497a;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
	background-color: #24497a;
	border-color: #1e3d66;
}

.panel-primary {
	border-color: #1e3d66;
}
.panel-primary > .panel-heading {
	background-color: #24497a;
	border-color: #1e3d66;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #24497a;
}

.panel-primary > .panel-footer + .panel-collapse .panel-body {
	border-bottom-color: #24497a;
}

.footer {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 15px;
	background-color: #24497A;
	color: #ddd;
	text-align: center;
}

.vert-center-container {
	display: inline-block;
	position: relative;
	margin-left: 1em;
}

.vert-center {
	position: absolute;
}

.default-hidden {
	display: none;
}

.vert-offset {
	margin-top: 15px;
}

.vert-offset-2x {
	margin-top: 30px;
}

.rounded-bottom {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.sub-nav {
	margin-top: -20px;
	background-color: #d3d3d3;
	border-bottom: 1px solid darkgray;
}

.menu-text {
	font-size: 18px;
}

.brand-text {
	font-size: 26px;
	font-weight: bold;
}

.overflow-hidden {
	overflow: scroll;
}

.proposition-tree {
	height: 500px;
	overflow: auto;
	border: 1px #CCCCCC solid;
}

.tree-drop {
	border: 2px solid gray;
	border-radius: 10px;
	background: #C3D9FF;
	color: green;
	padding: 1em;
	overflow: auto;
	width: 100%;
	disply: inline;
}

.tree-drop-single {
	min-height: 1em;
}

.tree-drop-multiple {
	min-height: 6em;
}

ul.sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.delete-icon {
	color: #DD2222;
	cursor: pointer;
}

.view-icon {
	cursor: pointer;
}

.form-control-inline {
	display: inline-block;
	float: none;
	width: 6em;
	min-width: 6em;
	max-width: 10em;
}

.form-control-inline-small {
	display: inline-block;
	width: 4em;
	min-width: 4em;
	max-width: 6em;
}

legend {
	border-color: #CCCCCC;
}

.container-big {
	min-height: 500px;
}

.panel legend {
	font-size: 1em;
	font-weight: bold;
}

.searchUpdateMessage
{
	display: none;
	color: red ;
}

#systemTree li, #userTree li
{
	line-height: 1.5em;
}

.bootbar-messages {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 10000000;
}

.jumbotron #logo {
	margin-right: auto;
	margin-left: auto;
	max-width: 50%;
}

#indexPanels .panel-body {
	overflow: auto;
	height: 10em;
}

#indexPanels .panel-heading, #indexPanels .alert {
	font-size: larger;
}

.uploads {
	display: none;
}

#chooseAccountTypeHeading {
	margin-bottom: 50px;
}